base(target='_top')

h1 Keep the ball rolling
ul
  li: a(href='//twitter.com/ycwhk') @ycwhk
  li photo by 
    a(href='//unsplash.com/photos/S6ryRRS2iBw') Mads Eneqvist
    |  & 
    a(href='//unsplash.com/photos/6yelWDI3RE8') Alexandre Jaquetoni